/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #DAF7A6;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #F5CBA7;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.scroll {
  margin:4px;
  padding:4px;
  width: 99%;
  height: 97%;
  overflow-x: auto;
  overflow-y: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bottomLeft {
  display: block;
  width: 100%;
  height: 30%;
}

pre {
  color: #117A65;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
}

.meme {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.bigh1 {
  margin: 4px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 50px;
}

.bigh12 {
  margin: 40px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  word-wrap: break-word;
}
